@charset "UTF-8";

html, #body
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: 'Roboto Slab', serif;
}

#body .km-pane {
    font-family: 'Roboto Slab', serif;
}

#body .km-content, #body .km-scroll-container, #body #map-canvas 
{
	height: 100%;
	width: 100%;
}

#body .footerText
{
	text-align: center;
}

/* =============================== Tracking =============================== */

#body #popover-tracking {
    font-size: 80%;
}

#body .trackingChoiceRun {
    margin-left: 26px;
}

#body .trackingChoiceCar
{   
	margin-left: 35px;
}

#body .trackingChoiceRunIcon, #body .trackingChoiceCarIcon {
    margin: 0;
    display: inline;
}

#body .trackingChoiceRunIcon {
    margin-left: 8px;
}

@media (-webkit-min-device-pixel-ratio: 1)
{
	#body .trackingChoiceRunIcon
	{
		background: url('../Images/Icons/runner.png') no-repeat 0 0;
		-webkit-background-size: 18px 25px;
	}
}

@media (min-device-pixel-ratio: 1)
{
	#body .trackingChoiceRunIcon
	{
		background: url('../Images/Icons/runner.png') no-repeat 0 0;
		width: 18px;
		height: 25px; 
	}    
}

@media (-webkit-min-device-pixel-ratio: 2)
{
	#body .trackingChoiceRunIcon
	{
		background: url('../Images/Icons/runner-2x.png') no-repeat 0 0;       
		-webkit-background-size: 18px 25px;
	}
}

@media (min-device-pixel-ratio: 2)
{
	#body .trackingChoiceRunIcon
	{
		background: url('../Images/Icons/runner-2x.png') no-repeat 0 0;
		width: 18px;
		height: 25px; 
	}    
}


@media (-webkit-min-device-pixel-ratio: 1)
{
	#body .trackingChoiceCarIcon
	{
		background: url('../Images/Icons/car.png') no-repeat 0 0;
		-webkit-background-size: 34px 19px;
	}
}

@media (min-device-pixel-ratio: 1)
{
	#body .trackingChoiceCarIcon
	{
		background: url('../Images/Icons/car.png') no-repeat 0 0;
		width: 34px;
		height: 19px;
	}
    
}

@media (-webkit-min-device-pixel-ratio: 2)
{
	#body .trackingChoiceCarIcon
	{
		background: url('../Images/Icons/car-2x.png') no-repeat 0 0;
		-webkit-background-size: 34px 18px;
	}
}

@media (min-device-pixel-ratio: 2)
{
	#body .trackingChoiceCarIcon
	{
		background: url('../Images/Icons/car-2x.png') no-repeat 0 0;
		width: 34px;
		height: 18px; 
	}
    
}

/* ======================================================================== */