@charset "UTF-8";

html, #body
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Roboto Slab', serif;
}

#body .km-pane, #body .km-text {
    font-family: 'Roboto Slab', serif;
}

#body .km-content, #body .km-scroll-container, #body #map-canvas 
{
	height: 100%;
	width: 100%;
}

#body .km-popup.km-pane, #body .km-navbar, #body .km-header .km-button
{
	background-color: rgba(0, 176, 255, 0.9);
}

#body .km-popup .km-view-title
{
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none; 
}

#body .km-popup .km-navbar
{
	background-color: rgba(0, 176, 255, 0);
}

#body .km-header .km-button:active
{
	background-color: rgba(0, 130, 255, 0.9);
}

#body .km-view-title, #body .km-button
{
    text-shadow: none;        
}

#body .km-down .km-popup-arrow::after
{
	border-color: rgba(27, 178, 224, 0.7) transparent;   
}

#body .km-header .km-button {
	border: 1px solid #394D68;
	border-top-color: #2F3740;
	border-right-color: #394D68;
	border-bottom-color: #375073;
	border-left-color: #394D68;
    box-shadow: none;
}

#body .km-popup .km-scroll-container {
    height: auto;
}


/* =============================== Tracking =============================== */

#body #popover-tracking {
    font-size: 80%;
}

/*#body .trackingChoiceRun {
    margin-left: 26px;
}

#body .trackingChoiceCar
{   
	margin-left: 35px;
}*/

#body .trackingChoiceRunIcon, #body .trackingChoiceCarIcon {
    margin: 0;
}

#body .trackingChoiceRunIcon {
    margin-left: 8px;
}

@media (-webkit-min-device-pixel-ratio: 1)
{
	#body .trackingChoiceRunIcon
	{
		background: url('../Images/Icons/runner.png') no-repeat 0 0;
		-webkit-background-size: 18px 25px;
	}
}

@media (min-device-pixel-ratio: 1)
{
	#body .trackingChoiceRunIcon
	{
		background: url('../Images/Icons/runner.png') no-repeat 0 0;
		width: 18px;
		height: 25px; 
	}    
}

@media (-webkit-min-device-pixel-ratio: 2)
{
	#body .trackingChoiceRunIcon
	{
		background: url('../Images/Icons/runner-2x.png') no-repeat 0 0;       
		-webkit-background-size: 18px 25px;
	}
}

@media (min-device-pixel-ratio: 2)
{
	#body .trackingChoiceRunIcon
	{
		background: url('../Images/Icons/runner-2x.png') no-repeat 0 0;
		width: 18px;
		height: 25px; 
	}    
}


@media (-webkit-min-device-pixel-ratio: 1)
{
	#body .trackingChoiceCarIcon
	{
		background: url('../Images/Icons/car.png') no-repeat 0 0;
		-webkit-background-size: 34px 19px;
	}
}

@media (min-device-pixel-ratio: 1)
{
	#body .trackingChoiceCarIcon
	{
		background: url('../Images/Icons/car.png') no-repeat 0 0;
		width: 34px;
		height: 19px;
	}    
}

@media (-webkit-min-device-pixel-ratio: 2)
{
	#body .trackingChoiceCarIcon
	{
		background: url('../Images/Icons/car-2x.png') no-repeat 0 0;
		-webkit-background-size: 34px 18px;
	}
}

@media (min-device-pixel-ratio: 2)
{
	#body .trackingChoiceCarIcon
	{
		background: url('../Images/Icons/car-2x.png') no-repeat 0 0;
		width: 34px;
		height: 18px; 
	}    
}

/* ======================================================================== */